html,
body,
div {
  height: 100%;
}

html {
  font-size: 1vmin;
  background: #1a0606;
}

body {
  margin: auto;
}

div {
  transform-style: preserve-3d;
  perspective: 100em;
  position: relative;
}
div *,
div *:before,
div *:after, div:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
div:after {
  width: 50em;
  height: 50em;
  background: radial-gradient(circle at top, rgba(255, 255, 255, 0), #1a0606);
  transform: translate3d(0, 0, 40em);
  margin: auto;
  bottom: 0;
  right: 0;
}

moon {
  margin: auto;
  inset: 0;
  width: 81em;
  height: 81em;
  background: #494143;
  border-radius: 50%;
}
moon spin {
  animation: r 10s linear infinite;
  width: 80em;
  height: 0;
  margin: auto;
  inset: 0;
}
moon c {
  width: 80em;
  height: 1em;
}
moon c:before, moon c:after {
  width: 5em;
  height: 5em;
  box-shadow: 0 -1em #1a0606, inset 0 -1em #bfbebb;
  border-radius: 50%;
  transform: rotateY(-90deg);
}
moon c:after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg);
}
moon c:nth-of-type(1) {
  transform: rotate(20deg) rotateY(185deg);
}
moon c:nth-of-type(1):before {
  transform: rotateY(-90deg) scale(0.3);
}
moon c:nth-of-type(1):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.1);
}
moon c:nth-of-type(2) {
  transform: rotate(198deg) rotateY(76deg);
}
moon c:nth-of-type(2):before {
  transform: rotateY(-90deg) scale(0.7);
}
moon c:nth-of-type(2):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.3);
}
moon c:nth-of-type(3) {
  transform: rotate(329deg) rotateY(3deg);
}
moon c:nth-of-type(3):before {
  transform: rotateY(-90deg) scale(0.8);
}
moon c:nth-of-type(3):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.9);
}
moon c:nth-of-type(4) {
  transform: rotate(178deg) rotateY(25deg);
}
moon c:nth-of-type(4):before {
  transform: rotateY(-90deg) scale(0.5);
}
moon c:nth-of-type(4):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.4);
}
moon c:nth-of-type(5) {
  transform: rotate(209deg) rotateY(113deg);
}
moon c:nth-of-type(5):before {
  transform: rotateY(-90deg) scale(1);
}
moon c:nth-of-type(5):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.1);
}
moon c:nth-of-type(6) {
  transform: rotate(24deg) rotateY(66deg);
}
moon c:nth-of-type(6):before {
  transform: rotateY(-90deg) scale(0.5);
}
moon c:nth-of-type(6):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.3);
}
moon c:nth-of-type(7) {
  transform: rotate(297deg) rotateY(128deg);
}
moon c:nth-of-type(7):before {
  transform: rotateY(-90deg) scale(0.8);
}
moon c:nth-of-type(7):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.4);
}
moon c:nth-of-type(8) {
  transform: rotate(164deg) rotateY(50deg);
}
moon c:nth-of-type(8):before {
  transform: rotateY(-90deg) scale(0.8);
}
moon c:nth-of-type(8):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.3);
}
moon c:nth-of-type(9) {
  transform: rotate(29deg) rotateY(79deg);
}
moon c:nth-of-type(9):before {
  transform: rotateY(-90deg) scale(0.1);
}
moon c:nth-of-type(9):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.2);
}
moon c:nth-of-type(10) {
  transform: rotate(215deg) rotateY(251deg);
}
moon c:nth-of-type(10):before {
  transform: rotateY(-90deg) scale(0.2);
}
moon c:nth-of-type(10):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.6);
}
moon c:nth-of-type(11) {
  transform: rotate(15deg) rotateY(28deg);
}
moon c:nth-of-type(11):before {
  transform: rotateY(-90deg) scale(0.7);
}
moon c:nth-of-type(11):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.3);
}
moon c:nth-of-type(12) {
  transform: rotate(11deg) rotateY(197deg);
}
moon c:nth-of-type(12):before {
  transform: rotateY(-90deg) scale(0.6);
}
moon c:nth-of-type(12):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.4);
}
moon c:nth-of-type(13) {
  transform: rotate(340deg) rotateY(258deg);
}
moon c:nth-of-type(13):before {
  transform: rotateY(-90deg) scale(0.8);
}
moon c:nth-of-type(13):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.7);
}
moon c:nth-of-type(14) {
  transform: rotate(353deg) rotateY(131deg);
}
moon c:nth-of-type(14):before {
  transform: rotateY(-90deg) scale(0.1);
}
moon c:nth-of-type(14):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(1);
}
moon c:nth-of-type(15) {
  transform: rotate(249deg) rotateY(267deg);
}
moon c:nth-of-type(15):before {
  transform: rotateY(-90deg) scale(0.2);
}
moon c:nth-of-type(15):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.1);
}
moon c:nth-of-type(16) {
  transform: rotate(22deg) rotateY(355deg);
}
moon c:nth-of-type(16):before {
  transform: rotateY(-90deg) scale(1);
}
moon c:nth-of-type(16):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.8);
}
moon c:nth-of-type(17) {
  transform: rotate(170deg) rotateY(261deg);
}
moon c:nth-of-type(17):before {
  transform: rotateY(-90deg) scale(0.7);
}
moon c:nth-of-type(17):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.7);
}
moon c:nth-of-type(18) {
  transform: rotate(76deg) rotateY(85deg);
}
moon c:nth-of-type(18):before {
  transform: rotateY(-90deg) scale(0.5);
}
moon c:nth-of-type(18):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.8);
}
moon c:nth-of-type(19) {
  transform: rotate(341deg) rotateY(212deg);
}
moon c:nth-of-type(19):before {
  transform: rotateY(-90deg) scale(0.4);
}
moon c:nth-of-type(19):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.7);
}
moon c:nth-of-type(20) {
  transform: rotate(249deg) rotateY(335deg);
}
moon c:nth-of-type(20):before {
  transform: rotateY(-90deg) scale(0.2);
}
moon c:nth-of-type(20):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.3);
}
moon c:nth-of-type(21) {
  transform: rotate(111deg) rotateY(314deg);
}
moon c:nth-of-type(21):before {
  transform: rotateY(-90deg) scale(0.4);
}
moon c:nth-of-type(21):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.8);
}
moon c:nth-of-type(22) {
  transform: rotate(23deg) rotateY(47deg);
}
moon c:nth-of-type(22):before {
  transform: rotateY(-90deg) scale(0.4);
}
moon c:nth-of-type(22):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.5);
}
moon c:nth-of-type(23) {
  transform: rotate(214deg) rotateY(53deg);
}
moon c:nth-of-type(23):before {
  transform: rotateY(-90deg) scale(0.8);
}
moon c:nth-of-type(23):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.1);
}
moon c:nth-of-type(24) {
  transform: rotate(229deg) rotateY(21deg);
}
moon c:nth-of-type(24):before {
  transform: rotateY(-90deg) scale(0.3);
}
moon c:nth-of-type(24):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.6);
}
moon c:nth-of-type(25) {
  transform: rotate(41deg) rotateY(352deg);
}
moon c:nth-of-type(25):before {
  transform: rotateY(-90deg) scale(0.4);
}
moon c:nth-of-type(25):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.3);
}
moon c:nth-of-type(26) {
  transform: rotate(188deg) rotateY(189deg);
}
moon c:nth-of-type(26):before {
  transform: rotateY(-90deg) scale(0.7);
}
moon c:nth-of-type(26):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.9);
}
moon c:nth-of-type(27) {
  transform: rotate(118deg) rotateY(321deg);
}
moon c:nth-of-type(27):before {
  transform: rotateY(-90deg) scale(0.5);
}
moon c:nth-of-type(27):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.6);
}
moon c:nth-of-type(28) {
  transform: rotate(95deg) rotateY(200deg);
}
moon c:nth-of-type(28):before {
  transform: rotateY(-90deg) scale(0.1);
}
moon c:nth-of-type(28):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.5);
}
moon c:nth-of-type(29) {
  transform: rotate(276deg) rotateY(346deg);
}
moon c:nth-of-type(29):before {
  transform: rotateY(-90deg) scale(1);
}
moon c:nth-of-type(29):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.4);
}
moon c:nth-of-type(30) {
  transform: rotate(340deg) rotateY(73deg);
}
moon c:nth-of-type(30):before {
  transform: rotateY(-90deg) scale(0.5);
}
moon c:nth-of-type(30):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.9);
}
moon c:nth-of-type(31) {
  transform: rotate(294deg) rotateY(138deg);
}
moon c:nth-of-type(31):before {
  transform: rotateY(-90deg) scale(1);
}
moon c:nth-of-type(31):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.9);
}
moon c:nth-of-type(32) {
  transform: rotate(312deg) rotateY(43deg);
}
moon c:nth-of-type(32):before {
  transform: rotateY(-90deg) scale(1);
}
moon c:nth-of-type(32):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.3);
}
moon c:nth-of-type(33) {
  transform: rotate(121deg) rotateY(324deg);
}
moon c:nth-of-type(33):before {
  transform: rotateY(-90deg) scale(0.7);
}
moon c:nth-of-type(33):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.4);
}
moon c:nth-of-type(34) {
  transform: rotate(61deg) rotateY(113deg);
}
moon c:nth-of-type(34):before {
  transform: rotateY(-90deg) scale(0.4);
}
moon c:nth-of-type(34):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.8);
}
moon c:nth-of-type(35) {
  transform: rotate(254deg) rotateY(28deg);
}
moon c:nth-of-type(35):before {
  transform: rotateY(-90deg) scale(0.5);
}
moon c:nth-of-type(35):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.6);
}
moon c:nth-of-type(36) {
  transform: rotate(117deg) rotateY(339deg);
}
moon c:nth-of-type(36):before {
  transform: rotateY(-90deg) scale(0.6);
}
moon c:nth-of-type(36):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.5);
}
moon c:nth-of-type(37) {
  transform: rotate(131deg) rotateY(168deg);
}
moon c:nth-of-type(37):before {
  transform: rotateY(-90deg) scale(0.3);
}
moon c:nth-of-type(37):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.2);
}
moon c:nth-of-type(38) {
  transform: rotate(5deg) rotateY(214deg);
}
moon c:nth-of-type(38):before {
  transform: rotateY(-90deg) scale(0.2);
}
moon c:nth-of-type(38):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.2);
}
moon c:nth-of-type(39) {
  transform: rotate(191deg) rotateY(266deg);
}
moon c:nth-of-type(39):before {
  transform: rotateY(-90deg) scale(0.4);
}
moon c:nth-of-type(39):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.2);
}
moon c:nth-of-type(40) {
  transform: rotate(235deg) rotateY(137deg);
}
moon c:nth-of-type(40):before {
  transform: rotateY(-90deg) scale(0.6);
}
moon c:nth-of-type(40):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.1);
}
moon c:nth-of-type(41) {
  transform: rotate(197deg) rotateY(229deg);
}
moon c:nth-of-type(41):before {
  transform: rotateY(-90deg) scale(1);
}
moon c:nth-of-type(41):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.9);
}
moon c:nth-of-type(42) {
  transform: rotate(161deg) rotateY(238deg);
}
moon c:nth-of-type(42):before {
  transform: rotateY(-90deg) scale(0.6);
}
moon c:nth-of-type(42):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.7);
}
moon c:nth-of-type(43) {
  transform: rotate(351deg) rotateY(43deg);
}
moon c:nth-of-type(43):before {
  transform: rotateY(-90deg) scale(0.8);
}
moon c:nth-of-type(43):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.7);
}
moon c:nth-of-type(44) {
  transform: rotate(119deg) rotateY(28deg);
}
moon c:nth-of-type(44):before {
  transform: rotateY(-90deg) scale(0.6);
}
moon c:nth-of-type(44):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.4);
}
moon c:nth-of-type(45) {
  transform: rotate(354deg) rotateY(20deg);
}
moon c:nth-of-type(45):before {
  transform: rotateY(-90deg) scale(0.6);
}
moon c:nth-of-type(45):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.9);
}
moon c:nth-of-type(46) {
  transform: rotate(88deg) rotateY(42deg);
}
moon c:nth-of-type(46):before {
  transform: rotateY(-90deg) scale(0.3);
}
moon c:nth-of-type(46):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.5);
}
moon c:nth-of-type(47) {
  transform: rotate(251deg) rotateY(321deg);
}
moon c:nth-of-type(47):before {
  transform: rotateY(-90deg) scale(0.3);
}
moon c:nth-of-type(47):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.6);
}
moon c:nth-of-type(48) {
  transform: rotate(4deg) rotateY(298deg);
}
moon c:nth-of-type(48):before {
  transform: rotateY(-90deg) scale(1);
}
moon c:nth-of-type(48):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.2);
}
moon c:nth-of-type(49) {
  transform: rotate(46deg) rotateY(335deg);
}
moon c:nth-of-type(49):before {
  transform: rotateY(-90deg) scale(0.7);
}
moon c:nth-of-type(49):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.1);
}
moon c:nth-of-type(50) {
  transform: rotate(336deg) rotateY(90deg);
}
moon c:nth-of-type(50):before {
  transform: rotateY(-90deg) scale(0.5);
}
moon c:nth-of-type(50):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.6);
}
moon c:nth-of-type(51) {
  transform: rotate(59deg) rotateY(200deg);
}
moon c:nth-of-type(51):before {
  transform: rotateY(-90deg) scale(0.2);
}
moon c:nth-of-type(51):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.4);
}
moon c:nth-of-type(52) {
  transform: rotate(222deg) rotateY(182deg);
}
moon c:nth-of-type(52):before {
  transform: rotateY(-90deg) scale(0.7);
}
moon c:nth-of-type(52):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.2);
}
moon c:nth-of-type(53) {
  transform: rotate(245deg) rotateY(44deg);
}
moon c:nth-of-type(53):before {
  transform: rotateY(-90deg) scale(0.1);
}
moon c:nth-of-type(53):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.3);
}
moon c:nth-of-type(54) {
  transform: rotate(50deg) rotateY(278deg);
}
moon c:nth-of-type(54):before {
  transform: rotateY(-90deg) scale(0.4);
}
moon c:nth-of-type(54):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.8);
}
moon c:nth-of-type(55) {
  transform: rotate(105deg) rotateY(146deg);
}
moon c:nth-of-type(55):before {
  transform: rotateY(-90deg) scale(0.9);
}
moon c:nth-of-type(55):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.3);
}
moon c:nth-of-type(56) {
  transform: rotate(145deg) rotateY(301deg);
}
moon c:nth-of-type(56):before {
  transform: rotateY(-90deg) scale(0.8);
}
moon c:nth-of-type(56):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.6);
}
moon c:nth-of-type(57) {
  transform: rotate(187deg) rotateY(200deg);
}
moon c:nth-of-type(57):before {
  transform: rotateY(-90deg) scale(0.1);
}
moon c:nth-of-type(57):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.5);
}
moon c:nth-of-type(58) {
  transform: rotate(278deg) rotateY(295deg);
}
moon c:nth-of-type(58):before {
  transform: rotateY(-90deg) scale(0.8);
}
moon c:nth-of-type(58):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.6);
}
moon c:nth-of-type(59) {
  transform: rotate(344deg) rotateY(144deg);
}
moon c:nth-of-type(59):before {
  transform: rotateY(-90deg) scale(0.3);
}
moon c:nth-of-type(59):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.5);
}
moon c:nth-of-type(60) {
  transform: rotate(74deg) rotateY(325deg);
}
moon c:nth-of-type(60):before {
  transform: rotateY(-90deg) scale(0.1);
}
moon c:nth-of-type(60):after {
  transform: translate3d(75rem, 0, 0) rotateY(90deg) scale(0.1);
}
@keyframes r {
  to {
    transform: rotateY(360deg);
  }
}

.sig {
  position: absolute;
  left: auto;
  right: 1rem;
  top: 1rem;
  font-size: 0.5rem;
  color: #fff;
  width: 10em;
  transform: skewX(10deg) scaleY(0.45) rotate(2deg);
  mix-blend-mode: difference;
}
.sig,
.sig * {
  height: 9.25em;
  overflow: hidden;
  border-radius: 0.5em;
}
.sig:before,
.sig *:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5em;
  height: 5em;
  background: currentColor;
  transform: translate3d(-2.5em, 0, 0) rotate(-45deg);
  box-shadow: -3em 3em 0 0 currentColor;
  border-radius: 0.5em 2em 0.5em 2em;
}
.sig * {
  width: 5em;
  transform: translate3d(3.75em, 0, 0) scaleY(0.95);
  display: block !important;
}
.sig *:before {
  transform: translate3d(-3em, -2em, 0) rotate(-45deg);
  box-shadow: -3em 3em 0 0 currentColor, -6em 6em 0 0 currentColor;
  border-radius: 0.5em;
}